{{- $wireless := ds "wireless" -}}
{{- $wifi := index $wireless "wifi" -}}
{{- $country := index $wifi "country" -}}
{{- $name := index $wifi "name" -}}
{{- $passwords := index $wifi "password" -}}
{{- $password2g := index $passwords "2g" -}}
{{- $password5g := index $passwords "5g" -}}

config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi'
	option band '2g'
	option channel 'auto'
	option htmode 'HE40'
	option country '{{ $country }}'
	option cell_density '0'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi+1'
	option band '5g'
	option channel 'auto'
	option htmode 'HE160'
	option country '{{ $country }}'
	option cell_density '0'

config wifi-iface 'wifinet0'
	option device 'radio0'
	option mode 'ap'
	option ssid '{{ $name }} 2.4'
	option encryption 'sae'
	option isolate '1'
	option key '{{ $password2g }}'
	option ocv '0'
	option network 'vlan50'

config wifi-iface 'wifinet1'
	option device 'radio1'
	option mode 'ap'
	option ssid '{{ $name }} 5'
	option encryption 'sae'
	option key '{{ $password5g }}'
	option ocv '0'
	option network 'vlan10'
