{{- $config := ds "config" -}}
{{- $secrets := ds "secrets" -}}
{{- $user := $secrets.adguardhome.user -}}
http:
  address: {{ $config.adguardhome.http_address }}

users:
  - name: "{{ index $user "name" }}"
    password: "{{ index $user "password_hash" }}"

dns:
  bind_hosts:
{{- range $host := $config.adguardhome.dns.bind_hosts }}
    - {{ $host }}
{{- end }}
  port: {{ $config.adguardhome.dns.port }}
  upstream_dns:
{{- range $upstream := $config.adguardhome.dns.upstream_dns }}
    - {{ $upstream }}
{{- end }}
  bootstrap_dns:
{{- range $bootstrap := $config.adguardhome.dns.bootstrap_dns }}
    - {{ $bootstrap }}
{{- end }}
  upstream_mode: {{ $config.adguardhome.dns.upstream_mode }}
  use_http3_upstreams: {{ $config.adguardhome.dns.use_http3_upstreams }}
  cache_enabled: {{ $config.adguardhome.dns.cache_enabled }}
  cache_size: {{ $config.adguardhome.dns.cache_size }}
  cache_optimistic: {{ $config.adguardhome.dns.cache_optimistic }}
  enable_dnssec: {{ $config.adguardhome.dns.enable_dnssec }}
  serve_http3: {{ $config.adguardhome.dns.serve_http3 }}

filtering:
  protection_enabled: true
  filtering_enabled: true
  blocking_mode: refused

querylog:
  enabled: true
  file_enabled: true
  interval: 2160h
  size_memory: 1000

statistics:
  enabled: true
  interval: 24h

filters:
{{- range $filter := $config.adguardhome.filters }}
  - enabled: {{ $filter.enabled }}
    url: {{ $filter.url }}
    name: {{ $filter.name }}
    id: {{ $filter.id }}
{{- end }}

schema_version: 32
