{{- $network := ds "network" -}}
{{- $interfaces := index $network "interfaces" -}}
config dnsmasq 'main'
	option port '0'
{{- range $interface := $interfaces }}
{{- if index $interface "dhcp" }}
	list interface '{{ index $interface "name" }}'
{{- end }}
{{- end }}
	option authoritative '1'

{{- range $interface := $interfaces }}
{{- if index $interface "dhcp" }}

config dhcp '{{ index $interface "name" }}'
	option interface '{{ index $interface "name" }}'
	option start '100'
	option limit '150'
	option leasetime '12h'
	option dhcpv4 'server'
	list dhcp_option '6,{{ index $interface "dns" }}'
{{- end }}
{{- end }}
