{{- $config := ds "config" -}}
config dnsmasq '{{ $config.dhcp.dnsmasq.name }}'
	option port '{{ $config.dhcp.dnsmasq.port }}'
{{- range $key, $vlan := $config.vlans }}
{{- if $vlan.dhcp }}
	list interface 'vlan{{ $vlan.id }}'
{{- end }}
{{- end }}
	option authoritative '1'

{{- range $key, $vlan := $config.vlans }}
{{- if $vlan.dhcp }}
config dhcp 'vlan{{ $vlan.id }}'
	option interface 'vlan{{ $vlan.id }}'
	option start '{{ $config.dhcp.pools.start }}'
	option limit '{{ $config.dhcp.pools.limit }}'
	option leasetime '{{ $config.dhcp.pools.leasetime }}'
	option dhcpv4 '{{ $config.dhcp.pools.dhcpv4 }}'
	list dhcp_option '6,{{ $vlan.gateway }}'

{{- end }}
{{- end }}
