{{- $config := ds "config" -}}
config dropbear '{{ $config.dropbear.name }}'
	option PasswordAuth '{{ $config.dropbear.password_auth }}'
	option Port '{{ $config.dropbear.port }}'
	option RootPasswordAuth '{{ $config.dropbear.root_password_auth }}'
