OPENWRT_VERSION={{ openwrt.version }}
OPENWRT_TARGET={{ openwrt.target }}
OPENWRT_SUBTARGET={{ openwrt.subtarget }}
OPENWRT_PROFILE={{ openwrt.profile }}
OPENWRT_HOST_SUFFIX={{ openwrt.host_suffix }}
OPENWRT_IMAGEBUILDER_SHA256={{ openwrt.imagebuilder_sha256 }}

ROUTER_HOST={{ router.host }}
ROUTER_USER={{ router.user }}
ROUTER_PORT={{ router.port }}
