{{- $config := ds "config" -}}
{{- $secrets := ds "secrets" -}}
{{- $network := $secrets.network -}}
{{- $map := index $network "map-e" -}}
{{- $wireguard := index $network "wireguard" -}}
{{- $wgServer := index $wireguard "server" -}}
config interface 'loopback'
	option device 'lo'
	option proto 'static'
	list ipaddr '127.0.0.1/8'

config globals 'globals'
	option ula_prefix 'auto'
	option packet_steering '2'

config device
	option name '{{ $config.switch.bridge }}'
	option type 'bridge'
{{- range $port := $config.switch.ports }}
	list ports '{{ $port }}'
{{- end }}
	option ipv6 '0'

{{- range $key := $config.vlan_order }}
{{- $vlan := index $config.vlans $key }}
config bridge-vlan
	option device '{{ $config.switch.bridge }}'
	option vlan '{{ $vlan.id }}'
{{- range $port := index $config.switch.vlans $key }}
	list ports '{{ $port }}'
{{- end }}

{{- end }}
{{- range $key := $config.vlan_order }}
{{- $vlan := index $config.vlans $key }}
config interface 'vlan{{ $vlan.id }}'
	option proto 'static'
	option device '{{ $config.switch.bridge }}.{{ $vlan.id }}'
	list ipaddr '{{ $vlan.cidr }}'

{{- end }}
config device
	option type '8021q'
	option ifname '{{ $config.network.wan6.device }}'
	option vid '{{ index $map "vlan_id" }}'
	option name '{{ $config.network.wan6.device }}.{{ index $map "vlan_id" }}'

config interface 'wan6'
	option proto 'dhcpv6'
	option device '{{ $config.network.wan6.device }}.{{ index $map "vlan_id" }}'
	option reqaddress 'try'
	option reqprefix 'auto'
	option norelease '1'
	option clientid '{{ $config.network.wan6.client_id }}'
	option peerdns '0'
{{- range $dns := $config.network.wan6.dns }}
	list dns '{{ $dns }}'
{{- end }}

config interface 'wan'
	option proto 'map'
	option maptype '{{ $config.network.wan.map_type }}'
	option peeraddr '{{ index $map "peeraddr" }}'
	option ipaddr '{{ index $map "ipaddr" }}'
	option ip6prefix '{{ index $map "ip6prefix" }}'
	option ip6prefixlen '{{ index $map "ip6prefixlen" }}'
	option tunlink 'wan6'

config interface '{{ $config.network.vpn.name }}'
	option proto 'wireguard'
	option private_key '{{ index $wgServer "private_key" }}'
	option listen_port '{{ $config.network.vpn.listen_port }}'
	list addresses '{{ $config.network.vpn.address }}'

{{- range $peer := index $wireguard "peers" }}
config wireguard_vpn
	option description '{{ index $peer "description" }}'
	option public_key '{{ index $peer "public_key" }}'
	option preshared_key '{{ index $peer "preshared_key" }}'
	list allowed_ips '{{ index $peer "allowed_ip" }}'

{{- end }}
