{{- $config := ds "network" -}}
{{- $secret := ds "network_secret" -}}
{{- $map := index $secret "map-e" -}}
{{- $wireguard := index $secret "wireguard" -}}
{{- $bridge := index $config "bridge" -}}
{{- $interfaces := index $config "interfaces" -}}
{{- $wan6 := index $config "wan6" -}}
{{- $wgConfig := index $config "wireguard" -}}
{{- $vlan := index $map "vlan_id" -}}
{{- $peer := index $map "peeraddr" -}}
{{- $ip := index $map "ipaddr" -}}
{{- $prefix := index $map "ip6prefix" -}}
{{- $prefixlen := index $map "ip6prefixlen" -}}
{{- $wgServer := index $wireguard "server" -}}
{{- $wgPeers := index $wireguard "peers" -}}
{{- $wgServerPrivateKey := index $wgServer "private_key" -}}

config interface 'loopback'
	option device 'lo'
	option proto 'static'
	list ipaddr '127.0.0.1/8'

config globals 'globals'
	option ula_prefix 'auto'
	option packet_steering '2'

config device
	option name '{{ index $bridge "name" }}'
	option type 'bridge'
{{- range $port := index $bridge "ports" }}
	list ports '{{ $port }}'
{{- end }}
	option ipv6 '0'

{{- range $bridgeVlan := index $bridge "vlans" }}
config bridge-vlan
	option device '{{ index $bridge "name" }}'
	option vlan '{{ index $bridgeVlan "id" }}'
{{- range $port := index $bridgeVlan "ports" }}
	list ports '{{ $port }}'
{{- end }}

{{- end }}
{{- range $interface := $interfaces }}
config interface '{{ index $interface "name" }}'
	option proto 'static'
	option device '{{ index $bridge "name" }}.{{ index $interface "vlan" }}'
	list ipaddr '{{ index $interface "address" }}'

{{- end }}

config device
	option type '8021q'
	option ifname 'eth1'
	option vid '{{ $vlan }}'
	option name 'eth1.{{ $vlan }}'

config interface 'wan6'
	option proto 'dhcpv6'
	option device 'eth1.{{ $vlan }}'
	option reqaddress 'try'
	option reqprefix 'auto'
	option norelease '1'
	option clientid '{{ index $wan6 "clientid" }}'
	option peerdns '0'
	list dns '127.0.0.1'
	list dns '::1'

config interface 'wan'
	option proto 'map'
	option maptype 'map-e'
	option peeraddr '{{ $peer }}'
	option ipaddr '{{ $ip }}'
	option ip6prefix '{{ $prefix }}'
	option ip6prefixlen '{{ $prefixlen }}'
	option tunlink 'wan6'

config interface 'vpn'
	option proto 'wireguard'
	option private_key '{{ $wgServerPrivateKey }}'
	option listen_port '{{ index $wgConfig "listen_port" }}'
{{- range $address := index $wgConfig "addresses" }}
	list addresses '{{ $address }}'
{{- end }}

{{- range $idx, $wgPeer := $wgPeers }}
config wireguard_vpn
	option description '{{ index $wgPeer "description" }}'
	option public_key '{{ index $wgPeer "public_key" }}'
	option preshared_key '{{ index $wgPeer "preshared_key" }}'
	list allowed_ips '{{ index $wgPeer "allowed_ip" }}'

{{- end }}
