{{- $config := ds "config" -}}
{{- $secrets := ds "secrets" -}}
{{- $wifi := $secrets.wireless.wifi -}}
{{- range $radio := $config.wireless.radios }}
config wifi-device '{{ $radio.name }}'
	option type 'mac80211'
	option path '{{ $radio.path }}'
	option band '{{ $radio.band }}'
	option channel 'auto'
	option htmode '{{ $radio.htmode }}'
	option country '{{ index $wifi "country" }}'
	option cell_density '0'

{{- end }}
{{- range $iface := $config.wireless.interfaces }}
config wifi-iface '{{ $iface.name }}'
	option device '{{ $iface.device }}'
	option mode 'ap'
	option ssid '{{ index $wifi "name" }} {{ $iface.suffix }}'
	option encryption 'sae'
{{- if $iface.isolate }}
	option isolate '1'
{{- end }}
	option key '{{ index (index $wifi "password") $iface.secret_key }}'
	option ocv '0'
	option network 'vlan{{ (index $config.vlans $iface.network).id }}'

{{- end }}
